<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextView封装.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>295983341FA1CFE500C9EBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2959834D1FA1CFE600C9EBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>295983581FA1CFE600C9EBAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
